# Thông báo cho Lombok đây là file cấu hình gốc, không tìm các file cha khác
config.stopBubbling = true

# Thêm annotation @Generated vào code do Lombok sinh ra
# Giúp các công cụ check code (và IDE) bỏ qua các warning trong code tự sinh
lombok.addLombokGeneratedAnnotation = true

# Tùy chỉnh cách xử lý NonNull để khớp với Spring/Java chuẩn
# Giúp giảm xung đột dẫn đến các lỗi Type Safety
lombok.nonNull.exceptionType = IllegalArgumentException

# Định nghĩa annotation để Lombok hiểu đây là @NonNull
# Giúp giảm 125 cảnh báo null type
lombok.anyNullAnnotationType = jakarta.validation.constraints.NotNull
lombok.anyNullAnnotationType += javax.annotation.Nonnull    
lombok.anyNullAnnotationType += org.springframework.lang.NonNull
lombok.anyNullAnnotationType += org.jetbrains.annotations.NotNull